html,body {
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

#loader {
	margin-top: 10px;
}

.header-content {
	height: 70px;
}

#logo {
	margin-top: 10px;
}

.no-bullets ul {
	list-style-type: none;
	margin: 0;
}

.ui-widget-header h3 {
	margin: 5px 0 5px 10px;
}

#hosts-container,#plugin-container {
	padding: 10px;
}

#plugins {
	margin-top: 20px;
}

.icons {
	cursor: pointer;
	float: right;
	margin: 2px;
	padding: 4px 0;
	position: relative;
}

span.ui-icon {
	margin: 0 4px;
}

.ui-widget input {
	padding-right: 0;
	padding-left: 0;
}

#slide-menu-container .ui-widget-content {
	display: none;
}

#slide-menu-btn {
	float: right;
	width: 100px;
	padding-left: 30px;
    cursor:pointer;
}

#host-filter {
	width: 100%;
}

.day,.week,.month,.year {
	display: none;
}

.selected, #timespan-menu li.first {
    font-weight:bolder;
}

#timespan-menu li:hover {
    cursor:pointer;
}
#timespan-menu li {
    cursor:pointer;
}

#timespan-menu {
    margin-bottom:20px;
    float:right;
    position:relative;
    clear:both;
}

#timespan-menu li {
    display:inline;
    padding-left:10px;
}

#graph-container .sortable {
    position:relative;
    width:100%;
    float:left;
}

#slide-menu-content {
    padding-bottom:15px;
    padding-top:10px;
    
}

.clock-container {
    text-align:center;
    font-size:20px;
    font-weight:900;
    margin-bottom:15px;
}

.small-container {
    width:800px;
}
