:root { overflow-y: scroll; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #f0f0f0;
  }
}

#loader {
    margin-top: 10px;
}

.header-content {
    height: 70px;
}

.gc-img {
  width: 100%;
}

.graph-imgs-container ul {
  padding-left: 0;
}


#logo {
    margin-top: 10px;
}

.no-bullets ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

.ui-widget-header h3 {
    margin: 5px 0 5px 10px;
}

#hosts-container, #plugin-container {
    padding: 10px;
}

#plugins {
    margin-top: 20px;
}

#hosts li, #plugins li {
    margin-bottom:8px;
}

.icons {
    cursor: pointer;
    float: left;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}

span.ui-icon {
    margin: 0 4px;
}


.ui-widget input, .ui-widget textarea, .ui-widget select {
    background-color:#fff;
    color:#333;
}

.ui-widget input {
    padding-right: 0;
    padding-left: 0;
}

#slide-menu-container .ui-widget-content {
    display: none;
}

#toolbar-container {
    position:fixed;
    bottom:0;
}
#toolbar-content {
    border-bottom:none;

}
.fg-button {
    outline: 0;
    margin:2px 4px 2px 0;
    padding: .4em 1em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
    zoom: 1;
    display:block;
   }


#slide-menu-btn {
    float: right;
    width: 100px;
    padding-left: 5px;
    cursor: pointer;
}

#host-filter {
    width: 100%;
}

.hour, .week, .month, .year {
    display: none;
}

.selected, #timespan-menu li.first {
    font-weight: bolder;
}

#timespan-menu li:hover {
    cursor: pointer;
}

#timespan-menu li {
    cursor: pointer;
}

#timespan-menu {
    margin-bottom: 20px;
    float: right;
    position: relative;
    clear: both;
}

#timespan-menu li {
    display: inline;
    padding-left: 10px;
}

#graph-container .sortable {
    position: relative;
    width: 100%;
    float: left;
}

#slide-menu-content {
    padding-bottom: 15px;
    padding-top: 10px;
}

.clock-container {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
}

.small-container {
    width: 800px;
}

#ruler {
    position: fixed;
    height: 100%;
    width: 1px;
    background: #f6ae38;
    left: 50%;
    display: none;
    z-index: 10;
    cursor: w-resize;
}

#slide-menu-container {
    top: 0;
    z-index: 20;
    left: 10%;
}

li.gc .selected {
    background: #f6ae38;
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity = 15);
    -moz-opacity: 0.15;
    -khtml-opacity: 0.15;
    opacity: 0.15;
    height: 100%;
    width: 100%;
    z-index: 5;
}

li.gc .gc-menu {
    position: absolute;
    visibility: hidden;
    right: 10px;
    top: 10px;
    filter: alpha(opacity = 90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    height: 32px;
    width: 220px;
    z-index: 40;
}

li.gc {
    position: relative;
}

li.gc:hover .gc-menu {
    visibility: visible;
}

#graph-step {
    width: 40px;
}

#help-box {
    background-image: url(../images/question.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    height: 170px;
    width: 80%;
    padding-left: 100px;
    padding-top: 25px;
}

#options-tab {
    min-height: 200px;
}

#graphdef-content {
    font-family: "Courier New", Courier, monospace;
}

#output-dialog {
    display: none;
}

.ttip-content, .graph-main-container {
    display:none;
}

a:focus {
    outline-style:none;
}

.icon-left, .icon-middle {
    margin-right:0;
    border-right:0 none #CCC !important;
    -moz-border-radius-bottomright: 0 0;
    -moz-border-radius-topright: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-right-radius: 0 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;

}

.icon-right, .icon-middle {
    margin-left:0;
    border-left:0 none #CCC !important;
    -moz-border-radius-bottomleft: 0 0;
    -moz-border-radius-topleft: 0 0;
    border-top-left-radius: 0 0;
    border-bottom-left-radius: 0 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;

}

.text-icon {
    text-indent: 4px;
    color:#EC8E0C;
    background-image:none !important;
    font-size:10px;
    width:100%;
    padding-left:4px;
    padding-right:4px;
}


#rrdeditor-form {
    float:left;
}
#rrdeditor-form input {
    margin-top:2px;
    margin-bottom:0;
    height:14px;
    width:270px;
}
.toolbar-item {
    float:right;
}

.toolbar-item.menu-options {
    float:left;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
