:root { overflow-y: scroll; }

#loader {
    margin-top: 10px;
}

.header-content {
    height: 70px;
}

#logo {
    margin-top: 10px;
}

.no-bullets ul {
    list-style-type: none;
    margin: 0;
}

.ui-widget-header h3 {
    margin: 5px 0 5px 10px;
}

#hosts-container, #plugin-container {
    padding: 10px;
}

#plugins {
    margin-top: 20px;
}

.icons {
    cursor: pointer;
    float: left;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}

span.ui-icon {
    margin: 0 4px;
}

.ui-widget input {
    padding-right: 0;
    padding-left: 0;
}

#slide-menu-container .ui-widget-content {
    display: none;
}

#slide-menu-btn {
    float: right;
    width: 100px;
    padding-left: 30px;
    cursor: pointer;
}

#host-filter {
    width: 100%;
}

.day, .week, .month, .year {
    display: none;
}

.selected, #timespan-menu li.first {
    font-weight: bolder;
}

#timespan-menu li:hover {
    cursor: pointer;
}

#timespan-menu li {
    cursor: pointer;
}

#timespan-menu {
    margin-bottom: 20px;
    float: right;
    position: relative;
    clear: both;
}

#timespan-menu li {
    display: inline;
    padding-left: 10px;
}

#graph-container .sortable {
    position: relative;
    width: 100%;
    float: left;
}

#slide-menu-content {
    padding-bottom: 15px;
    padding-top: 10px;
}

.clock-container {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
}

.small-container {
    width: 800px;
}

#ruler {
    position: fixed;
    height: 100%;
    width: 1px;
    background: #f6ae38;
    left: 50%;
    display: none;
    z-index: 10;
    cursor: w-resize;
}

#slide-menu-container {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 950px;
    left: 10%;
}

li.gc .selected {
    background: #f6ae38;
    position: absolute;
    left: 0;
    top: 0;
    filter: alpha(opacity = 15);
    -moz-opacity: 0.15;
    -khtml-opacity: 0.15;
    opacity: 0.15;
    height: 100%;
    width: 100%;
    z-index: 5;
}

li.gc .gc-menu {
    position: absolute;
    visibility: hidden;
    right: 10px;
    top: 10px;
    filter: alpha(opacity = 90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    height: 120px;
    width: 60px;
    z-index: 40;
}

li.gc {
    position: relative;
}

li.gc:hover .gc-menu {
    visibility: visible;
}

#graph-step {
    width: 40px;
}

#help-box {
    background-image: url(../images/question.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    height: 170px;
    width: 80%;
    padding-left: 100px;
    padding-top: 25px;
}

#options-tab {
    min-height: 200px;
}

#graphdef-content {
    font-family: "Courier New", Courier, monospace;
}

#output-dialog {
    display: none;
}

.ttip-content, .graph-main-container {
    display:none;
}

