name: Perl CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1.33.0
        with:
          perl-version: '5.36'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y librrds-perl \
          libjson-perl \
          libhtml-parser-perl \
          libcgi-pm-perl \
          libipc-run-perl

      - name: Run tests
        run: |
          export PERL5LIB=$PERL5LIB:/usr/share/perl5
          prove -lrv t
