name: z-pre-commit

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.0
    - uses: actions/setup-python@v6.1.0
    - uses: pre-commit/action@v3.0.1
